<div class="jumbotron"><h1>PLAYERS RANKING</h1></div>

<%= render 'shared/blueimp' %>

<% if Player.count == 0 %>
    <div class="row" style="padding-bottom: 20px">
      <div class="col-md-11 col-xs-10 col-xs-offset-1">
        <h3>There aren't any players yet. Please add new players.</h3>
      </div>
    </div>
<% else %>

    <%= paginate @players, :theme => 'twitter-bootstrap-3', :window => 2 %>

    <%= render 'classifications/players_ranking' %>

<% end %>

<script>
    $(".links table tr td:first-child a").onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
</script>